/* MOBILE */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
}

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #131230;
  background: white;
}

#article-list #article-list-category>a {
  background: white;
}

#article-list>.article-list-row>.item>.list-header>span {
  background-color: #131230;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #131230;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #131230;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #131230;
  border-color: #131230;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #131230;
}

.pagination>li>a,
.pagination>li>span {
  color: #131230;
}

#article-content-wrapper>.header {
  border-top: 2px solid #131230;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #131230;
}

#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #131230 !important;
}

#article-reply-area>.header h5 {
  color: #131230;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #131230;
}

.btn-primary {
  background: #131230 !important;
}

/* 모바일 */
#header-top-notice {
  display: none;
}

header {
  background-color: #131230;
  border-bottom-color: #ed1C24;
}

header>#header-area>a>h1 {
  width: 95px;
  background: url('https://tgdbears.github.io/tgd.kr/src/svg/tgd-logo-bears.svg') no-repeat;
  background-size: auto 36px;
  background-repeat: no-repeat;
  height: unset !important;
}

header>#header-area>#header-search-link {
  color: #fff;
}

header>#header-area>#header-bar-link {
  color: #ed1C24;
}

header>#header-search-bar #header-search-btn {
  color: #fff;
}

#article-list>.article-list-row.notice>.item>a.list-title>.list-writer {
  display: none;
}

header>#header-search-bar #header-search-input {
  border-color: #ed1C24;
  border-top: none;
  border-left: none;
  border-right: none;
}

#article-list>.article-list-row>.item>a.list-title>small.comment-count {
  color: #131230;
  letter-spacing: -0.05em !important;
}

#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
  color: #131230;
}

#nav#nav>.nav-header {
  background-color: #131230;
  color: white;
}

#board-info #viewers-area {
  color: #131230;
}

#board-info #viewers-area .fa-user:after {
  display: inline-block;
  margin-left: 4px;
  content: '';
  /* 현재 게시판 이용자를 나타내는 텍스트 입력란 */
}

#viewers:after {
  content: '';
  /* 현재 게시판 이용자수 다음 오는 텍스트 */
}

#userDropdown>img,
#article-info .article-profile-img {
  border-radius: 50%;
}

footer {
  background: #131230;
}

footer .container,
footer .container a {
  color: #fff;
}

.btn.square,
.form-control {
  border-color: #131230;
}

.btn.write,
.btn.best {
  border-radius: 3px;
}

#boardSearchForm .form-control {
  border-left: 0;
  border-right: 0;
}
